@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Nunito+Sans|Oswald&display=swap');
/*	*************************************************
	BASE
	************************************************* */
body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: x-large;
	color: #333333;
	line-height: 1.5em;
}

h1, h2, h3 {
	font-family: 'Cabin Sketch', cursive;
	letter-spacing: 0.15em;
	color: #1E90FF;
	margin-bottom: 0;
}
h1 + p { margin-top: 0.5em; }


a {
	display: block;
	padding: 0 10px; 
	text-decoration: none;
	color: black;
}
a:hover {
	color: gray;
}
a:hover img {
	opacity: 0.7;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	text-indent: -20px;
	margin-left: 20px;
}


/*	*************************************************
	BASE - HEADER
	************************************************* */
header a { 
	display: block;
	position: relative; 
}
header h1 {
    margin: 0;
    font-size: 2em;
    position: absolute;
    top: 80px;
    left: 380px;
}
header img {
    position: relative;
	left: 180px;
	padding-top: 66px; 
	width: 24.99999%;;
}

/*	*************************************************
	BASE - ASIDE
	************************************************* */
aside {
	background-image:url(../images/logo_cs.png); 
	background-repeat: no-repeat;
	grid-column: 1 / 3; 
	grid-row: 1 / 3;
	align-self: end;
	font-style: italic;
	font-size: 20px;
	line-height: 30px;
	padding: 2px;
	box-shadow: 4px 5px 5px 0px #87CEFA;
	width: 70%;
	margin-left: 60px;
	color:black;

}

aside:hover { background:#F0F8FF; }

aside ul {
	padding-left: 55px;
}

/*	*************************************************
	BASE - FOOTER
	************************************************* */
footer {
	font-family: 'Oswald', sans-serif;
	font-size: large;
	color: black;
	line-height: 1.2em;
}

/*	*************************************************
	BASE - NAV
	************************************************* */
nav ul {
	text-indent: 0;
	margin-left: 0;
}
nav ul { 
	display: flex; 
	justify-content: flex-end;
}
nav li { 
	margin-left: 20px;
}
@media ( max-width: 375px ) {
	nav ul { 
		display: block; 
	}
	nav li { margin-left: 0; }
}


/*	*************************************************
	LAYOUT
	************************************************* */

/* THIS IS NEW */
.home_nav{
	grid-column: 1/4;
	grid-row: 1/3;
}

.container {
	margin: 25px auto;
	width: 90%;
	max-width: 960px;

	display: grid;
	grid-template-columns: 1fr 400px 1fr;
}
@media ( max-width: 375px ) {
	.container { display: block; }
}

main { grid-column: 1 / 4; 
	   margin-top:25px;
}

.column1 {
	margin-top:15px;
	margin-left: 60px;
}
.column2 {
	margin-left: 60px;
}
header {
	grid-column: 2 / 2; 
	grid-row: 2/ 3;
}
nav { 
	grid-column: 2 / 4; 
	grid-row: 4 / 5;
}
footer { grid-column: 2/ 2;
	background-image:url(../images/logo_cs.png); 
	background-repeat: no-repeat;
	background-position: left;
	padding-left:50px;}

@media ( max-width: 375px ) {
	footer { margin-bottom: 15px; }
}


/*	*************************************************
	STATE
	************************************************* */
.menu a.is-current {
		background-color:#E0FFFF;
		color: black;
	}
.is-current{
		background-color:#E0FFFF;
		color: black;
	}
.container{
	display:grid;
	grid-template-columns: 260px 2fr 200px;
}
nav.sub-menus{
	color:#1E90FF;
	margin-top:300px;
	grid-column: 2/2;
	grid-row: 1/5;
}

nav.sub-menus a{
	color:#1E90FF;
}

nav.main-menu{
	grid-column: 3/4;
	grid-row: 1/5;
	position: fixed;
	top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
	background-color: #0066cc;
	text-align: center;
 	 height: 35px;

}

nav.main-menu a{
   color: black;
   text-transform: bold;
}

.column {
	float: left;
	width: 450px;
	padding: 10px;
	
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
	
  }